<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <header>
            <h1>Contato</h1>
            </header>
            <main>
                <p> contate com sua loja mais proxima</p>
            </main>
            <nav>
                <a href= "/portal"> Portal</a>
            </nav>
        </div>
    </body>
</html>
