<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Minha primeira pagina</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1> Bem vindo a minha pagina </h1>        
        <div>
        <nav>        
        <ul>            
            <li><a href="https://www.w3schools.com" target= "_blank">Site da W3schools</a></li>            
        <li><a href="https://www.onlinegdb.com/online_java_compiler" target= "_blank">Compilador Java online</a></li>            
        <li><a href="https://www.incredibox.com/" target= "_blank">Incredibox</a></li>            
        <li> <a href="https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:P%C3%A1gina_principal" target= "_blank">Wikipedia</a></li>    
        
        </ul>  
            <form action="http://localhost:9000/portal">
        <input type="submit" value="Portal" />
        </form>
        </nav>
        </div>
        </header>
        <main>
        <p> Está pagina foi feita com apache netbeans </p>
        </main>
        <footer>
            <p>&copy; site patrocinado por ninguém :/ </p>
        </footer>
    </body>
</html>
