<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
            <header>
            <h1> Meu primeiro Portal Spring Boot</h1>
            </header>
            <main>
                <p> MVC é um padrão de arquitetura, que contem os 3 elementos, que são model, view, e controller, <b>Model</b> é a classe base para construir objetos(modelo do objeto), <b>View</b> é como se fossem as telas, o que o usuario vê, e o <b>Controler</b> é o que gerencia os dados da aplicação </p>
            </main>
            <nav>
                <a href= "/servicos"> Servicos</a><br>
                <a href= "/contato"> Contato</a><br>
                <a href= "/perfil"> Perfil</a><br>
            </nav>
        
    </body>
</html>
